<!-- Banner -->
<section id="{{ page.banner.section_id }}">
    <div class="inner">
        <h1>{{ page.banner.title | newline_to_br }}</h1>
        {{ page.banner.subtitle | markdownify }}
        {% if page.banner.actions %}
            <ul class="actions special">
                {% for action in page.banner.actions %}
                    <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" class="button large wide{% if action.is_primary %} primary{% endif %}{% if action.is_scrolly %} scrolly-middle{% endif %}">{{ action.label }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>
