<!-- Carousel -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.background_color_style }}">
    <div class="inner">
        <header class="major">
            <h2>{{ include.section.title }}</h2>
        </header>
        <div class="carousel">
            {% assign arr = include.site.pages | where_exp: 'item', 'item.home_sections.carousel.enabled == true' | sort: 'home_sections.carousel.weight' %}
            {% for page in arr %}
                {% if page.home_sections.carousel %}
                    <article>
                        <div class="image" data-position="{{ page.home_sections.carousel.data_position }}">
                            <img src="{{ page.home_sections.carousel.image | relative_url }}" alt="" />
                        </div>
                        <div class="content">
                            <h3>{{ page.home_sections.carousel.title }}</h3>
                            {{ page.home_sections.carousel.text | markdownify }}
                            <ul class="actions special">
                                <li><a href="{{ page.url | relative_url }}" class="button primary {{ page.home_sections.carousel.button_background_color }}">Learn more</a></li>
                            </ul>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
            <nav>
                <a href="#" class="previous"><span class="label">Previous</span></a>
                <a href="#" class="next"><span class="label">Next</span></a>
            </nav>
        </div>
    </div>
</section>
