<!-- CTA -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.style }}">
    <div class="inner">
        <header class="major">
            <h2>{{ include.section.title }}</h2>
            {{ include.section.subtitle | markdownify }}
        </header>
        <form method="post" action="#" class="combined">
            <input type="email" name="email" id="email" placeholder="Your email address" class="alt accent4" />
            <input type="submit" class="button primary accent4" value="Subscribe" />
        </form>
    </div>
</section>
